@import url(../two-colums/two-columns.css);
@import url(../two-colums/__brief/two-columns__brief.css);
@import url(../two-colums/__main-text/two-columns__main-text.css);
@import url(../two-colums/__paragraph/two-columns__paragraph.css);
@import url(../two-colums/__span-accent/two-columns__span-accent.css);

.description {
  display: flex;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
