.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  }

.header__link:hover, .feynman__link:hover, .khan__buy-link:hover, .resources__logo:hover, .footer__column-link:hover {
  opacity: 0.7;
  transition: 0.2s linear 0s;
}
